.bg-footer{
    box-sizing: border-box;
    background: url(https://static.letgo.com/site-images/background/footer_bg_top-768.jpg) center top no-repeat, url(https://static.letgo.com/site-images/background/footer_bg_bottom-768.jpg) center bottom no-repeat rgb(255, 63, 85);
    padding-top: 32px;
    padding-bottom: 32px;
}
